<template>
  <x-card class="example">
    <x-tabs :tabs="tabs" v-if="exampleComponent">
      <example-body v-for="tab in tabs" :key="tab" :slot="tab" :content="tabsContent[tab]"/>
    </x-tabs>
  </x-card>
</template>

<script>
import ExampleBody from './ExampleBody.vue';

export default {
  name: 'ExampleCard',

  components: {
    ExampleBody,
  },

  props: {
    example: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      exampleComponent: null,
      exampleFile: null,
    };
  },

  computed: {
    view() {
      return this.exampleComponent;
    },

    template() {
      if (!this.exampleFile) return null;
      return this.exampleFile.match(/<template>[\s\S]+<\/template>/)[0];
    },

    script() {
      if (!this.exampleFile) return null;
      const match = this.exampleFile.match(/<script>[\s\S]+<\/script>/);
      if (match) return match[0];
      return null;
    },

    style() {
      if (!this.exampleFile) return null;
      const match = this.exampleFile.match(/<style[\s\S]+<\/style>/);
      if (match) return match[0];
      return null;
    },

    tabsContent() {
      const {
        view, template, script, style,
      } = this;
      const tabs = { view, template };
      if (script) tabs.script = script;
      if (style) tabs.style = style;
      return tabs;
    },

    tabs() {
      return Object.keys(this.tabsContent);
    },
  },

  async created() {
    this.exampleComponent = (await import(`@/${this.example}.vue`)).default;
    this.exampleFile = (await import(`!raw-loader!@/${this.example}.vue`)).default;
  },
};
</script>

<style lang="stylus" scoped>
.example
  margin-bottom 2rem
</style>
