<template>
  <x-container class="example-body">
    <component v-if="typeof content !== 'string'" :is="content" />
    <x-card v-else><x-code class="prism" language="html">{{ content }}</x-code></x-card>
  </x-container>
</template>

<script>
export default {
  name: 'ExampleBody',

  props: {
    content: {
      type: [String, Object],
      required: true,
    },
  },
};
</script>
