<template>
  <x-card class="api-explorer">
    <x-tabs :tabs="tabs">
      <x-container v-for="tab in tabs" :key="tab" :slot="tab">
        <api-explorer-table :items="props"/>
      </x-container>
    </x-tabs>
  </x-card>
</template>

<script>
import Vue from 'vue';
import ApiExplorerTable from './ApiExplorerTable.vue';

export default {
  components: {
    ApiExplorerTable,
  },

  props: {
    component: {
      type: String,
      required: true,
    },
  },

  computed: {
    tabs() {
      return ['props'];
    },

    props() {
      return Vue.options.components[this.component].options.props;
    },
  },
};
</script>

<style lang="stylus" scoped>
.api-explorer
  margin-bottom 2rem
</style>
