<template>
  <table class="api-explorer-table">
    <thead>
      <tr><th class="header" v-for="header in headers" :key="header">{{ header }}</th></tr>
    </thead>
    <tbody>
      <tr v-for="row in body" :key="row.name">
        <td class="body" v-for="header in headers" :key="header">{{ row[header] || '-' }}</td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  props: {
    items: {
      type: [Array, Object],
      default() { return []; },
    },
  },

  computed: {
    headers() {
      return Object.keys(this.items).reduce((headers, key) => {
        const newHeaders = headers;

        Object.keys(this.items[key]).forEach((item) => {
          if (!newHeaders.includes(item)) newHeaders.push(item);
        });

        return newHeaders;
      }, ['name']);
    },

    body() {
      return Object.keys(this.items).reduce((body, key) => {
        const newBody = body;
        const row = { name: key };

        Object.keys(this.items[key]).forEach((item) => {
          const el = this.items[key][item];
          if (item === 'type') {
            if (typeof el === 'function') row[item] = el.name;
            else if (el instanceof Array) row[item] = `[${el.map(type => type.name).join(', ')}]`;
            else row[item] = el;
          } // eslint-disable-line brace-style
          else {
            const value = this.items[key][item];
            row[item] = value === null ? 'null' : this.items[key][item].toString();
          }
        });

        newBody.push(row);

        return newBody;
      }, []);
    },
  },
};
</script>

<style lang="stylus" scoped>
.api-explorer-table
  width 100%
  .header
    text-align left
  .body
    padding 8px 0
</style>
