<template>
  <x-card>
    <x-container row>
      <x-btn backgroundColor="primary" class="mr-2">Hi, I'm primary btn 🤩</x-btn>
      <x-btn
        backgroundColor="rgba(242, 92, 95, 0.3)"
        color="primary"
        class="mr-2"
      >
        And I'm rose 😍
      </x-btn>
      <x-btn gradient color="white">I've a fancy gradient</x-btn>
    </x-container>
  </x-card>
</template>
