<template>
  <x-card>
    <x-container row>
      <x-icon-btn icon="bat" scale="2rem" color="white" gradient/>
    </x-container>
  </x-card>
</template>

<script>
import('@/assets/svg-icons/bat');
</script>
