<template>
  <x-container>
    <x-title>Buttons</x-title>

    <h4>Api</h4>
    <api-explorer component="XBtn"/>

    <h4>Default Button</h4>
    <example-card example="baseComponents/Buttons/Default"/>

    <h4>Colored Buttons</h4>
    <x-markdown>
The **gradient button** uses:
* the variable `gradientDeg` for the **degree**
* the variable `gradientFrom` for the **from** color
* the variable `gradientTo` for the **to** color
    </x-markdown>
    <example-card example="baseComponents/Buttons/Colored"/>

    <h4>Special Buttons</h4>
    <example-card example="baseComponents/Buttons/Special"/>

    <x-title>Icon Buttons</x-title>

    <h4>Api</h4>
    <api-explorer component="XIconBtn"/>

    <h4>Example</h4>
    <example-card example="baseComponents/Buttons/IconBtns"/>
  </x-container>
</template>

<script>

export default {
  name: 'Buttons',
};
</script>
