<template>
  <x-container>
    <x-title>Icons</x-title>

    <h4>Api</h4>
    <api-explorer component="XIcon"/>

    <x-markdown>
The `x-icon` component uses *SVGs* as icons.

To use it you have to install [vue-svgicon](https://github.com/MMF-FE/vue-svgicon).

```bash
npm i vue-svgicon
```

And add the following script to your `package.json` file:

```json
"generate-icons": "vsvg -s ./svg-icons -t ./src/assets/svg-icons"
```

To add an *icon* simply add the *SVG* to `[project-root]/svg-icons` and run:

```bash
npm run generate-icons
```

The *SVG* will then be converted to js and put into `src/assets/svg-icons`.

To use an icon inside the `x-icon` component you have to import it:

```js
import('@/assets/svg-icons/bat');
```

For further explenation check out
[https://alligator.io/vuejs/using-svg-icons](https://alligator.io/vuejs/using-svg-icons/) 😉

Why use SVG rather than font icons:
[https://css-tricks.com/icon-fonts-vs-svg](https://css-tricks.com/icon-fonts-vs-svg/)
    </x-markdown>

    <h4>Examples</h4>
    <example-card example="baseComponents/Icons/Default"/>
  </x-container>
</template>

<script>

export default {
  name: 'Icons',
};
</script>
