<template>
  <div class="variable-presenter">
    <div
      v-if="category === 'colors'"
      :style="colorStyle"
    />
    <div class="description">{{ item }}</div>
    <input
      :value="value"
      class="value"
      ref="input"
      @change="handleVarChange($event.currentTarget.value, category, item)"
      @focus="inputFocus = true"
      @blur="inputFocus = false"
    />
    <color-picker
      v-if="colorPicker"
      :value="value"
      class="color-picker"
      tabindex="0"
      @input="updateValue"
      @mousedown.native="pickerFocus = true"
      @mouseup.native="handlePickerMouseUp"
    />
  </div>
</template>

<script>
import { Chrome as ColorPicker } from 'vue-color';

export default {
  name: 'VariablePresenter',

  components: {
    ColorPicker,
  },

  props: {
    category: {
      type: String,
      required: true,
    },

    item: {
      type: String,
      required: true,
    },

    value: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      inputFocus: false,
      pickerFocus: false,
      color: '#234',
    };
  },

  computed: {
    colorStyle() {
      return {
        backgroundColor: this.value,
        gridArea: '🖍',
        width: '2rem',
        height: '2rem',
      };
    },

    colorPicker() {
      return this.category === 'colors' && (this.inputFocus || this.pickerFocus);
    },
  },

  methods: {
    handleVarChange(value, category, item) {
      this.$updateTheme(category, item, value);
    },

    updateValue(newValue) {
      let value = newValue.hex;
      if (newValue.rgba.a < 1) {
        const {
          r, g, b, a,
        } = newValue.rgba;
        value = `rgba(${r}, ${b}, ${g}, ${a})`;
      }

      this.handleVarChange(value, this.category, this.item);
    },

    handlePickerMouseUp() {
      this.$refs.input.focus();
      this.pickerFocus = false;
    },
  },
};
</script>

<style lang="stylus" scoped>
.variable-presenter
  display grid
  grid-template-columns auto 1fr 250px
  grid-template-areas "🖍 item value"
  grid-template-rows 2rem
  grid-gap .5rem
  align-items center
  border 1px solid var(--border)
  border-radius 3px
  overflow hidden

  &:not(:last-child)
    margin-bottom .5rem

  .description
    grid-area item

  .value
    grid-area value
    align-self stretch
    border none
    border-left 1px solid var(--border)
    padding .5rem

  .color-picker
    position fixed
    right 3rem
    bottom 3rem
</style>
