<template>
  <x-grid-list>
    <div v-for="img in images" :key="img.name">
      <x-img :src="img.src">
      </x-img>
      <x-text slim>{{ img.name }}</x-text>
      <x-text color="colorSecondary" slim>Description</x-text>
    </div>
  </x-grid-list>
</template>

<script>
import faker from 'faker';

const images = [...Array(10).keys()].map(key => ({ name: `image-${key}`, src: faker.image.image() }));

export default {
  data() {
    return {
      images,
    };
  },
};
</script>
