<template>
  <x-container>
    <x-title>Grid List</x-title>
    <h4>Api</h4>
    <api-explorer component="XGridList" class="mb-3"/>
    <h4>Default Grid</h4>
    <example-card example="components/GridList/Default"/>
  </x-container>
</template>

<script>
export default {
  name: 'GridList',
};
</script>
