<template>
  <x-card>
    <x-container align-items="flex-start">
      <x-link to="#">Hi, I'm a default link 🔗</x-link>
      <x-link to="#" bold>I can also be BOLD</x-link>
    </x-container>
  </x-card>
</template>
