<template>
  <x-container>
    <x-title>Links</x-title>

    <h4>Api</h4>
    <api-explorer component="XLink" class="mb-3"/>

    <x-markdown>
The `x-link` component uses the `router-link` for navigation
    </x-markdown>

    <h4>Examples</h4>
    <example-card example="baseComponents/Links/Default"/>
  </x-container>
</template>

<script>
export default {
  name: 'Links',
};
</script>
