<template>
  <x-container>
    <x-title>Code</x-title>

    <h4>Api</h4>
    <api-explorer component="XCode"/>

    <x-markdown>
The `x-code` component is using [prism](https://prismjs.com/) for syntax highlighting.

Its **important** to start at the **beginning of the line** when writing your code, because it
doesn't trim whitespace!
    </x-markdown>

    <h4>Example</h4>
    <example-card example="baseComponents/Code/Default"/>
  </x-container>
</template>

<script>

export default {
  name: 'Code',
};
</script>
