<template>
  <x-card width="200">
    <x-navigation-drawer>
      <!-- <x-navigation-list>
        <x-navigation-list-item to="#">
          Item 1
        </x-navigation-list-item>
        <x-navigation-list-item to="#">
          Item 2
        </x-navigation-list-item>
      </x-navigation-list> -->
    </x-navigation-drawer>
  </x-card>
</template>
