<template>
  <x-container>
    <x-title>Navigation Drawer</x-title>
    <h4>Api</h4>
    <api-explorer component="XNavigationDrawer" class="mb-3"/>
    <h4>Default Navigation</h4>
    <example-card example="components/NavigationDrawer/Default"/>
  </x-container>
</template>

<script>
export default {
  name: 'NavigationDrawer',
};
</script>
