<template>
  <x-container>
    <x-title>Variables</x-title>
    <div v-for="(items, category) in $xstyles.theme" :key="category">
      <h4>{{ category | capitalize }}</h4>
      <x-card class="mb-3">
        <x-container>
          <variable-presenter
            v-for="(value, item) in items"
            :key="item"
            :value="value"
            :category="category"
            :item="item"
          />
        </x-container>
      </x-card>
    </div>
  </x-container>
</template>

<script>
import VariablePresenter from './components/VariablePresenter.vue';

export default {
  name: 'Variables',

  data() {
    return {
      color: '#eee',
    };
  },

  components: {
    VariablePresenter,
  },
};
</script>
