<template>
  <x-container>
    <x-title>Cards</x-title>

    <h4>Api</h4>
    <api-explorer component="XCard"/>

    <h4>Default Card</h4>
    <example-card example="baseComponents/Cards/Default"/>

    <h4>Empty Card</h4>
    <x-markdown>
It shows a **loading spinner** when empty:
    </x-markdown>
    <example-card example="baseComponents/Cards/Empty"/>
  </x-container>
</template>

<script>
export default {
  name: 'Cards',
};
</script>
