<template>
  <x-container>
    <x-title>Getting Started</x-title>
    <x-markdown>
##### How to install xstyles:

add xstyles to your `package.json`:
```sh
$ npm i @litc0de/xstyles
```
import `xstyles` and tell your app to use it:

```js
import Vue from 'vue';
import XStyles from '@litc0de/xstyles';
import '@litc0de/xstyles/dist/xstyles.css';

Vue.use(XStyles);
```

##### How to use xstyles in your app:

wrapp your whole application in the `&lt;x-app&gt;` wrapper:

```html
&lt;x-app&gt;
  &lt;router-view/&gt;
&lt;/x-app&gt;
```
    </x-markdown>
  </x-container>
</template>

<script>

export default {
  name: 'GettingStarted',
};
</script>
