<template>
  <x-container>
    <x-title>Headings</x-title>
    <x-card class="mb-3">
      <x-container>
        <p class="mb-0">h1 - 4rem</p>
        <h1>The Evil Rabbit Jumped over the Fence</h1>
      </x-container>
    </x-card>
    <x-card class="mb-3">
      <x-container>
        <p class="mb-0">h2 - 3.5rem</p>
        <h2>The Evil Rabbit Jumped over the Fence</h2>
      </x-container>
    </x-card>
    <x-card class="mb-3">
      <x-container>
        <p class="mb-0">h3 - 3rem</p>
        <h3>The Evil Rabbit Jumped over the Fence</h3>
      </x-container>
    </x-card>
    <x-card class="mb-3">
      <x-container>
        <p class="mb-0">h4 - 2.5rem</p>
        <h4>The Evil Rabbit Jumped over the Fence</h4>
      </x-container>
    </x-card>
    <x-card class="mb-3">
      <x-container>
        <p class="mb-0">h5 - 2rem</p>
        <h5>The Evil Rabbit Jumped over the Fence</h5>
      </x-container>
    </x-card>
    <x-card class="mb-3">
      <x-container>
        <p class="mb-0">h6 - 1.5rem</p>
        <h6>The Evil Rabbit Jumped over the Fence</h6>
      </x-container>
    </x-card>
  </x-container>
</template>

<script>
export default {
  name: 'Headings',
};
</script>
