<template>
  <x-container>
    <x-title>Text Styles</x-title>
    <x-card class="mb-3">
      <x-container>
        <h6>Paragraph</h6>
        <p>
          Aute ullamco nostrud anim anim pariatur aliqua. Voluptate irure cillum exercitation ut
          voluptate mollit duis laboris sint ad. Laborum ea est culpa velit aliqua incididunt. Irure
          minim veniam exercitation et cupidatat aliqua excepteur ad non. Exercitation mollit
          consectetur exercitation mollit deserunt et labore nostrud ad exercitation sint ad ea est.
          Excepteur aute elit excepteur ad. Labore exercitation esse pariatur fugiat ullamco irure
          mollit amet anim consectetur laborum.
        </p>
      </x-container>
    </x-card>

    <x-card>
      <x-container>
        <h6>Paragraph Bold</h6>
        <p><b>
          Aute ullamco nostrud anim anim pariatur aliqua. Voluptate irure cillum exercitation ut
          voluptate mollit duis laboris sint ad. Laborum ea est culpa velit aliqua incididunt. Irure
          minim veniam exercitation et cupidatat aliqua excepteur ad non. Exercitation mollit
          consectetur exercitation mollit deserunt et labore nostrud ad exercitation sint ad ea est.
          Excepteur aute elit excepteur ad. Labore exercitation esse pariatur fugiat ullamco irure
          mollit amet anim consectetur laborum.
        </b></p>
      </x-container>
    </x-card>
  </x-container>
</template>
