<template>
  <x-container>
    <x-title>Spinner</x-title>

    <x-markdown>
The spinner component uses an `SVG` as base and `css animations` for the rotation.

The default colors are **gradientFrom**, **gradientTo** and **primary**.
    </x-markdown>

    <h4>Example</h4>
    <example-card example="baseComponents/Spinner/Default"/>
  </x-container>
</template>

<script>

export default {
  name: 'Spinner',
};
</script>
