<template>
  <x-container>
    <x-title>Markdown</x-title>

    <x-markdown>
The `x-markdown` component uses [markdown-it](https://github.com/markdown-it/markdown-it) for
converting the md to html.

For **code** syntax highlighting it's combined with [prism](https://prismjs.com/).
    </x-markdown>

    <h4>Example</h4>
    <example-card example="baseComponents/Markdown/Default"/>
  </x-container>
</template>

<script>

export default {
  name: 'Markdown',
};
</script>
