<template>
  <x-app>
    <layout id="app">
      <router-view/>
    </layout>
  </x-app>
</template>

<script>
import Layout from '@/Layout/Layout.vue';

export default {
  name: 'App',

  components: {
    Layout,
  },
};
</script>
