<template>
  <x-container class="basic-container">
    I'm a basic container
  </x-container>
</template>

<style lang="stylus" scoped>
// ⚠️ this is only used for highlighting the padding️️️ ⚠️

color = violet
shadowL = -1.5rem 0 0 color inset
shadowT = 0 1.5rem 0 color inset
shadowR = 1.5rem 0 0 color inset
shadowB = 0 -1.5rem 0 color inset

.basic-container
  background-color: #eee
  box-shadow: shadowL, shadowT, shadowR, shadowB
</style>
