<template>
  <x-container>
    <x-title>Containers</x-title>

    <h4>Api</h4>
    <api-explorer component="XContainer"/>

    <h4>Default Container</h4>
    <x-markdown>
Specs:
* padding of `1.5rem` as highlighted in **violet**
* it's a **flex** element
    </x-markdown>
    <example-card example="baseComponents/Containers/Default"/>
  </x-container>
</template>

<script>

export default {
  name: 'Containers',
};
</script>
