<template>
  <x-layout>
    <navigation slot="navigation"/>
    <slot/>
  </x-layout>
</template>

<script>
import Navigation from './Navigation.vue';

export default {
  name: 'Layout',

  components: {
    Navigation,
  },
};
</script>
