<template>
  <x-navigation-drawer>
    <x-navigation-list>
      <x-navigation-li title>General</x-navigation-li>
      <x-navigation-li :to="{ name: 'GettingStarted' }">Getting Started</x-navigation-li>
      <x-navigation-li :to="{ name: 'Headings' }">Headings</x-navigation-li>
      <x-navigation-li :to="{ name: 'Text' }">Text</x-navigation-li>
      <x-navigation-li :to="{ name: 'Variables' }">Variables</x-navigation-li>
    </x-navigation-list>
    <x-navigation-list>
      <x-navigation-li title>Base Components</x-navigation-li>
      <x-navigation-li
        v-for="component in baseComponentNames"
        :key="component"
        :to="{ name: component }"
      >
        {{ component }}
      </x-navigation-li>
    </x-navigation-list>
    <x-navigation-list>
      <x-navigation-li title>Components</x-navigation-li>
      <x-navigation-li
        v-for="component in componentNames"
        :key="component"
        :to="{ name: component }"
      >
        {{ component }}
      </x-navigation-li>
    </x-navigation-list>
  </x-navigation-drawer>
</template>

<script>
import componentNames from '@/components';
import baseComponentNames from '@/baseComponents';

export default {
  name: 'Navigation',

  data() {
    return {
      componentNames,
      baseComponentNames,
    };
  },
};
</script>
